body {
  --file-line-width: 85%;  /* 控制最大宽度 */
}

.markdown-preview-view, .markdown-source-view {
  max-width: 100%;  /* 或固定宽度，如 800px */
  margin-left: auto !important;
  margin-right: auto !important
}